/.ipynb_checkpoints/
/analysis-gallegosalas/.ipynb_checkpoints/
/analysis-gallegosalas-session/.ipynb_checkpoints/
/analysis-gallegosalas-session/pics/
/analysis-gallegosalas-session/gallerosalas_result_bulk_metrics.bak
/analysis-gallegosalas-session/gallerosalas_result_bulk_metrics.h5
/analysis-gallegosalas-session/gallerosalas_result_individual_region.bak
/analysis-gallegosalas-session/gallerosalas_result_individual_region.h5
/analysis-null/.ipynb_checkpoints/
/analysis-sych/.ipynb_checkpoints/
/analysis-sych/original_dataset/.ipynb_checkpoints/
/analysis-sych/original_dataset/pics/
/analysis-sych/original_dataset/sych_population_connectivity.h5
/analysis-sych/original_dataset/sych_result_population_bulk_info.bak
/analysis-sych/original_dataset/sych_result_population_bulk_info.h5
/analysis-sych/preprocessed_dataset/.ipynb_checkpoints/
/analysis-sych/preprocessed_dataset/pics/
/analysis-sych/preprocessed_dataset/sych_result_bulk_metrics.bak
/analysis-sych/preprocessed_dataset/sych_result_bulk_metrics.h5
/analysis-sych/preprocessed_dataset/sych_result_higher_order_df.h5
/analysis-sych/preprocessed_dataset/sych_result_individual_region.bak
/analysis-sych/preprocessed_dataset/sych_result_individual_region.h5
